.side-btn {
    width: 130px;
    cursor: pointer;
    font-size: 40px;
    padding: 5px 10px;
    color: black;
}

::-webkit-scrollbar-track {
    background-color: #3a748b;
}
::-webkit-scrollbar {
    width: 6px;
    background: #34929e;
}
::-webkit-scrollbar-thumb {
    background: #0c0c0c;
}

.re-side {
    cursor: pointer;
    opacity: 0;
    display: none;
    width: 130px;
    font-size: 50px;
    margin-left: 10px;
    color: black;
}


.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0%;
    height: 100%;
    overflow: hidden;
    background: #182027;
    transition: 1s width    ;
}

.container-content {
    width: 100%;
    height: auto;
    background: rgb(218, 215, 187);
    min-height: 100%;
    transition: 1s margin-left;
}

.user-info {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    background: rgb(23, 36, 41);
    height: auto;
    word-wrap: break-word;
    padding: 30px;
}

.user-info span {
    text-align: center;
    color: white;
    font-size: 50px;
}

.user-info p {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.container-icons {
    width: 100%;
    height: 100%;
}

.icon-single {
    width: 100%;
    height: auto;
    padding: 20px 20px;
}

.icon-single:hover {
    transition: 0.5s;
    background: rgb(29, 49, 56);
}

.icon-single i {
    font-size: 30px;
    color: white;
}

.icon-single span {
    position: relative;
    top: -4px;
    font-size: 20px;
    color: white;
}

.container-icons a {
    text-decoration: none;
}

.active {
    background: rgb(29, 49, 56);
}

.animationSide {
    width: 30%;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 20px;
}

.flex-1 {
    flex: 1;
}

.single-product {
    width: 32%;
    position: relative;
    margin: 5px;
    height: auto;
    background-color: #182027;
}

.single-product h1 {
    padding: 10px 10px;
    text-align: center;
    color: white;
}

.image-product img {
    border: 4px solid #0c0c0c;
    width: 100%;
    height: 100%;
}

.info-product {
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.info-product p {
    margin-bottom: 10px;
}

.amountPut input {
    border: none;
    color: white;
    font-size: 15px;
    width: 50px;
    background: none;
    margin-right: 3px;
}

.amountPut button {
    border: none;
    background: #178329;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
}

.deleteBtn {
    border: 0;
    background: none;
    color: rgb(168, 26, 26);
    font-size: 40px;
    position: absolute;
    top: -25px;
    cursor: pointer;
    right: -10px;
}

.edit-btn{
    text-decoration: none;
    color: #34929e;
    font-size: 30px;
}

@media (max-width: 890px) {
    .single-product {
        width: 46%;
        flex: none;
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 580px) {
    .single-product {
        width: 100%;
        margin-left: 0px;
    }
}