.caller {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: 135% 100%;
    background-repeat: no-repeat;
    background-attachment: local;
}

.sec-cont {
    width: 65%;
    height: 100%;
    float: left;
}

.overlay {
   width: 100%;
   height: 100%;
   position: relative;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.58);
}

.text-caller {
    width: 100%;
    max-width: 700px;
    word-wrap: break-word;
    height: 100%;
    padding-top: 170px;
}

.text-caller h1{
    text-align: left;
    line-height: 70px;
    padding-left: 100px;
    font-weight: bold;
    font-size: 80px;
    color: var(--text-color-blue);
}

.text-caller p {
    text-align: left;
    line-height: 70px;
    padding-left: 100px;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

colorTxt {
    color: var(--text-color-blue);
}

colorTxt > a {
    text-decoration: none;
    color: var(--text-color-blue);
}

.login {
    -webkit-box-shadow: -5px 0px 16px 1px #1a98e0; 
    box-shadow: -5px 0px 16px 1px #1a98e0;
    overflow-y: auto;
    width: 35%;
    height: 100%;
    background: rgb(255, 255, 255);
    float: right;
}

.text-form {
    padding: 100px 30px;
}

.text-form h1 {
    font-weight: bold;
    font-size: 40px;
    color: #242526;
}

.text-form p {
    font-weight: bold;
    font-size: 17px;
    color: #242526;
}

.text-form form {
    padding-top: 30px;
}

.text-form label {
    font-size: 24px;
    font-weight: bold;
    color: #242526;
}

.text-form input[type=email],
.text-form input[type=text],
.text-form input[type=password],
.text-form input[type=number],
.text-form input[type=file] {
    width: 100%;
    font-size: 15px;
    padding-left: 2%;
    height: 40px;
    border: none;
    border-bottom: 3px solid var(--text-color-blue);
}

.text-form input[type=email],
.text-form input[type=text],
.text-form input[type=password],
.text-form input[type=number],
.text-form input[type=file]:focus {
    outline: 0;
}

.input-sec {
    margin-top: 30px;
}

.input-sec:last-of-type {
    margin-top: 50px;
}

.text-form form > button {
    margin-top: 20px;
    float: right;
    font-weight: bold;
    font-size: 17px;
    width: 110px;
    height: 50px;
    border: none;
    border-radius: 60px;
    color: white;
    background: var(--text-color-blue);
}

@media (max-width: 980px) {
    .sec-cont {
        width: 100%;
        height: auto;
        float: none;
    }

    .text-caller {
        padding: 30px 30px;
    }
    
    .text-caller h1{
        font-size: 60px;
    }

    .login {
        width: 100%;
        overflow-y: unset;
        box-shadow: none;
        float: none;
    }

    .text-form {
        margin: 0 auto;
    }
}